<ion-header>
  <ion-toolbar>
    <div style="text-align: center; margin-top: 20px; align-items: center; justify-content: center;">
      <img src="assets/ppa.png" alt="" style="width: 110px; ">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen ion-padding>
 
  <form [formGroup]="loginForm" >
    <ion-item class="radius" style="margin-bottom: 5.5px; margin-top: 25px; background-color: white;">
      <ion-input mode="ios" [formControl]="name" type="text" style="font-size: 20px; text-transform: capitalize;" formControlName="login" placeholder="NOME" required>
      </ion-input>
    </ion-item>
    <div style="color: #f4f5f8!important; padding-bottom: 2px!important;">
      <ion-text color="danger"  style=" padding-bottom: 10px!important;" *ngIf="loginForm.get('login').hasError('required') && loginForm.get('login').touched"
    style="text-align: left!important" lines="none">
    Informe um login válido.
      </ion-text>
    </div>
    <br>
    <br>
    <div style="text-align: center;">
      <ion-button (click)="login()" id="button">
       <strong>INICIAR</strong>
      </ion-button>
    </div>
    </form>
</ion-content>
