<ion-tabs>
  <ion-tab-bar color="tertiary" slot="bottom">
    <ion-tab-button tab="faltas">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="horarios">
      <ion-icon name="newspapper"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>