<ion-content class="ion-padding">
  <div padding style="margin-top: 50px;">
      <div style="text-align: center;">
          <span style="font-size: 50px;"><strong>Olá,</strong></span>
      </div>
      <span style="font-size: 20px;">
          <small>
              <div style="text-align: center; font-size: 20px;">
               por favor aguarde, estamos carregando seus dados! ;)
              </div>
          </small>
      </span>
  </div>
  <div style="margin-top: 25px;">
    <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="300"></lottie-animation-view>
  </div>
</ion-content>